
Data/CHELSA_bio1_1981-2010_V.2.1.tif
Data/Taiwan_county.shp
Data/Castanopsis_carlesii.csv
Data/Castanopsis_uraiana.csv
Data/Quercus_gilva.csv
Data/Taiwan_county.cpg
Data/Taiwan_county.dbf
Data/Taiwan_county.prj
Data/Taiwan_county.qpj
Data/Taiwan_county.shx
